body{
    margin: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 1;
    

}
.salem{
    background-image:url('images/FIRSTBRASIL.jpg');
    background-size: cover;
    width: 100%;
    height: 750px;
    
}

.icon img{
    margin: 20px 10px 10px 85px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    width: 50px;
    height: auto;
    transform: skew(40deg,-40deg);
    cursor: pointer;
    border: 0.5px solid white;
}
.icon img:hover{
    border: 1px solid #269696;

}
.head div{
    font-size: 20px;
    padding: 20px 10px 10px 10px;
    display: inline-block;


}
.head{
    display: flex;
    margin-left: 175px;
    padding: 15px;
}
.head div:hover{
    transform: scale(1.1); 
    transition: 0.3s;
    cursor: pointer;
}
.head a{
    text-decoration: none;
    color: white;
}
.icon2{
    display: flex;
    margin: 10px 0px 0px 70px;
    cursor: pointer;
}
.icon2 img{
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    border-radius: 45px;
    border: 0.5px solid white;
    width: 30px;
    height: 30px;
    
}
.icon2 img:hover{
    border: 1px solid #269696;

}
main{
    width: 700px;
    position:absolute;
    top: 150px;
    left: 75px;
    color: rgb(255, 255, 255);

   

}
.hello{
    font-size: 55px;   
    font-weight: 900;
}
.data1{
    margin-top: 100px;
    font-size: 17.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.data{
    font-size: 17.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.datename{
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.datename a{
    font-size: 17.5px;

}
.second{
    background-color: #269696;
    width: 100%;
    height: 750px;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.travel{
    padding:125px 75px;
    height: 500px;
    width: 500px;
}
.jz{
    color: #f9a405;
    font-size: 50px;


}
.jz b{
    font-weight: 00;
}
.jz div,.travel li{
    font-size: 24px;
    color:white;
    font-weight: 200;
}
.prog{
    font-size: 15px;
    padding: 20px 65px;
    background-color: rgb(163, 70, 0);
    border-radius: 25px;
    width: max-content;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.prog:hover{
    background-color: #6be3e3;
    transition: 0.3s;
    cursor: pointer;

}
.third{
    background-color: rgb(1, 7, 36);
    height: 1550px;
    margin-top: -25px;

}
.third h1{
    text-transform: uppercase;
    padding: 50px 0px 0px 75px;
    font-size: 35px;
    color: white;
}
.flex{
    display: flex;
}

.proga{
    margin: 15px;
    cursor: pointer;
    font-size: 15px;
    position: relative;
}
.proga p{
    position: absolute;
    top: 300px;
    left: 20px;
    color: white;
    font-size: 25px;
    border-bottom: 2px solid white;
    width: 475px;
    padding: 10px;
}
.positive{
    position: absolute;
    top: 400px;
    left: 20px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    visibility: hidden;
    font-size: 16px;
    font-weight: 400;
}
.proga:hover .positive{
    visibility: visible;
    transition:0.5s;
    transform:translateY(-170px);
    box-sizing: content-box;

}
.proga:hover p{
   transform: translateY(-170px);
   transition: 0.5s;
}
.fourth{
    background-image: url(images/africafirst1.png);
    background-size: cover;
    height: 570px;
    color: white;
}
.jazz{
    width: 850px;
    margin-left: 200px;
    padding: 25px;
    text-align: center;

}
.jazz p{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 80px;
}
.jazz b{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.formas{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.form{
    width: 200px;
    height: 40px;
    margin: 5px;
}
.formsubmit{
    font-size: 16px;
    padding:15px 20px;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
    background-color: rgb(218, 151, 7);
    border-radius: 25px;
    width: max-content;
}
.formsubmit:hover{
    background-color: #269696;
    transition: 0.4s;
    
}
footer{
    width: 100%;
    background-color: rgb(1, 7, 36);
    height: 120px;
    
}
.headache div {
    font-size: 15px;
    padding: 20px 10px 10px 10px;
    cursor: pointer;
    text-decoration: none;
    text-transform: lowercase;
    color: white;
}
.headache div a{
    text-decoration: none;
    color: white;
}

.headache{
    display: flex;
    padding: 15px;
    color: white;
    justify-content: center;
}
.headache div:hover{
    transform: scale(1.1); 
    transition: 0.4s;
    cursor: pointer;

}
.politic{
    font-size: 12.5px;
    color: rgb(218, 151, 7);
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}
.politic a{
    color: rgb(218, 90, 5);
    text-decoration: none;

}
.politic b{
   color: rgb(218, 90, 5);
   right: 40px; 
   position: absolute;
   font-size: 10px;
}
.politic i{
    position: absolute;
    left: 100px;
}
.footericons{
    height: 30px;
    background-color: white;
    border-radius: 50px;
    margin:10px;
    cursor: pointer;
}
.footericons:hover{
    border: 1px solid #269696;
    transition: 0.4s;
    
}

