body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper{
    width: 980px;
}
header{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 1;
    
}
.mini{
    font-size: 35px;
    font-weight: 700;
    left: 20%;
    position: absolute;
    top: 100px;
    color: #418168;
}
.icon img{
    margin: 20px 10px 10px 85px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    width: 50px;
    height: auto;
    transform: skew(40deg,-40deg);
    cursor: pointer;
    border: 0.5px solid white;
}
.icon img:hover{
    border: 1px solid #269696;

}
.head div{
    font-size: 20px;
    padding: 20px 10px 10px 10px;
    display: inline-block;


}
.head{
    display: flex;
    margin-left: 175px;
    padding: 15px;
}
.head div:hover{
    transform: scale(1.1); 
    transition: 0.3s;
    cursor: pointer;
}
.head a{
    text-decoration: none;
    color: white;
}
.icon2{
    display: flex;
    margin: 10px 0px 0px 70px;
    cursor: pointer;
}
.icon2 img{
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    border-radius: 45px;
    border: 0.5px solid white;
    width: 30px;
    height: 30px;
    
}
.icon2 img:hover{
    border: 1px solid #269696;

}
.items {
  position: absolute;
  top: 57.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.items .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 450px;
  overflow: hidden;
  transition: 0.4s;
  z-index: -1;
  opacity: 0;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item.active {
  opacity: 1;
  z-index: 4;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  width: 850px;
  height: 500px;

}

.item.prev {
  z-index: 2;
  opacity: 0.25;
  transform: translate(-125%, -50%);
}

.item.next {
  z-index: 2;
  opacity: 0.25;
  transform: translate(25%, -50%);
}

.items .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  z-index: 100;
}

.button-container .button {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.9;
  transition: 0.3s;
}

.button-container .button:hover {
  opacity: 0.8;

}

.button-container .button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  z-index: -99;
}

.button-container .button:nth-child(1) {
  float: right;
  margin-right: -450px;
 
}

.button-container .button:nth-child(2) {
  float: left;
  margin-left: -450px;

}

.second{
    background: #a2d1bf;
    width: 100%;
    height: 800px;
    position: absolute;
    top: 700px;
   
}
.second p{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 800;
    margin-left: 70px;


}
.image{
    background-image: url(images/putes2.jpg);
    width: 400px;
    height: 450px;
    background-size: cover;
    margin-left: 70px;
}
.writer{
   position: absolute;
   left: 500px;
   font-size: 23px;
   margin-right: 70px;
   font-weight: 300;

}
.prog{
    font-size: 15px;
    padding: 20px 65px;
    background-color: rgb(163, 70, 0);
    border-radius: 40px;
    color: white;
    position: absolute;
    left: 500px;
    bottom: 100px;
    font-weight: 600;
    width: max-content;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.prog:hover{
    background-color: #000000;
    transition: 0.5s;
    cursor: pointer;
}
.prog1{
    font-size: 15px;
    padding: 20px 65px;
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
    color: white;
    position: absolute;
    left: 490px;
    bottom: 30px;
    font-weight: 600;
    width: max-content;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.prog1:hover{
    background-color: rgb(163, 70, 0);
    transition: 0.5s;
    cursor: pointer;
}
.third{
    position: absolute;
    top: 1500px;
    display: flex;
}
.yellow{
    background-color: #e3a034;
    width: 400px;
    padding: 100px;
    height: 300px;
}
.yellow p{
    font-size: 35px;
    font-weight: 900;
}
.fourth{
  background-image: url(images/africafirst1.png);
  background-size: cover;
  height: 570px;
  color: white;
  position: absolute;
  width: 100%;
  top: 2000px;
}
.jazz{
  width: 850px;
  margin-left: 200px;
  padding: 25px;
  text-align: center;

}
.jazz p{
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 80px;
}
.jazz b{
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.formas{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.form{
  width: 200px;
  height: 40px;
  margin: 5px;
}
.formsubmit{
  font-size: 16px;
  padding:15px 20px;
  height: 20px;
  margin-left: 20px;
  cursor: pointer;
  background-color: rgb(218, 151, 7);
  border-radius: 25px;
  width: max-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formsubmit:hover{
  background-color: #269696;
  transition: 0.4s;
  
}
footer{
  width: 100%;
  background-color: rgb(1, 7, 36);
  height: 120px;
  position: absolute;
  top: 2500px;
  
}
.headache div{
  font-size: 15px;
  padding: 20px 10px 10px 10px;
  cursor: pointer;


}
.headache{
  display: flex;
  padding: 15px;
  color: white;
  justify-content: center;
}
.headache div:hover{
  transform: scale(1.1); 
  transition: 0.4s;
  cursor: pointer;

}
.politic{
  font-size: 12.5px;
  color: rgb(218, 151, 7);
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}
.politic a{
  color: rgb(218, 90, 5);
 
}
.politic b{
 color: rgb(218, 90, 5);
 right: 40px; 
 position: absolute;
 font-size: 10px;
}
.politic i{
  position: absolute;
  left: 100px;
}
.footericons{
  height: 30px;
  background-color: white;
  border-radius: 50px;
  margin:10px;
  cursor: pointer;
}
.footericons:hover{
  border: 1px solid #269696;
  transition: 0.4s;
  
}

